<div class="card">
    <div class="card-header">{{ news.publishedBy }}</div>
    <div class="card-body">
        <h3 class="card-title">{{ news.title }}</h3>
        <p class="card-text">{{ news.summary }}</p>
    </div>
    <div class="card-body text-body-secondary">{{ news.publishedAt|format_datetime('short', 'short') }}</div>
</div>
