<div {{ attributes }}>
    <input type="search" name="query" class="form-control" placeholder="Искать" tabindex="1" data-model="debounce(500)|query">

    {% set foundNews = this.news %}
    {% if foundNews %}
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-2 my-4">
        {% for news in foundNews %}
        <div class="col">{{ component('News:Card', {news: news}) }}</div>
        {% endfor %}
    </div>
    {% else %}
        <p class="my-4">Ничего не найдено...</p>
    {% endif %}
</div>
