{% extends 'base.html.twig' %}

{% block title %}Свежие новости - {{ parent() }}{% endblock %}

{% block body %}
<div class="container p-4">
    <h1 class="mb-4">Свежие новости ⚡</h1>
    {{ component('News:Search', {limit: 10}) }}
</div>
{% endblock %}
